python-dotenv
langchain
openai
playsound
pygobject==3.30.4
Flask
# google-api-python-client # Google API
# google-search-results # SerpAPI
# youtube-transcript-api
# chromadb
# tiktoken
# faiss-cpu
# wikipedia